@font-face {
    font-family:'GeneralSans-Medium' ;
    src: url(Fonts/GeneralSans-Medium.ttf);
}
@font-face {
    font-family:'GeneralSans-Regular' ;
    src: url(Fonts/GeneralSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main::-webkit-scrollbar{
    display: none;
}

#cursor{
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    transition: cubic-bezier(0.19, 1, 0.22, 1)0.3s;
    display: none;
    z-index: 1000;
}

.endHeading a:hover #cursor{
    width: 40px;
    height: 40px;
}



#main{
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    position: relative;  
    font-family: "GeneralSans-Regular";
}

.hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
}

.nav{
    width: 100%;
    height: 6.1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vh 0 5vh;
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 999;
}

.nav a{
    color: #fff;
    text-decoration: none;
    font-size: 2.2vh;
}

.heading{
    width: 100%;
    padding-top: 11vh;
}

.heading h1{
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 0.9;
    margin-left: 3vw;
    opacity: 0.6;
    text-wrap: 2vw;
    letter-spacing: 0.35vw;
}

.heading h1::selection{
    background-color: #fff;
    color: #000;
}

.headingPart2{
    width: fit-content;
    margin-left: 11vw;
}

.heading h5{
    text-align: right;
    font-size: 1.1vw;
    margin-top: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    
}

.heading h5::selection{
    background-color: #fff;
    color: #000;
}

.subHeading{
    width: 100%;
    margin-top: 9vw;
    text-align: right;
    padding-right: 3vw;
}

.subHeading h5{
    text-transform: uppercase;
    font-size: 1.1vw;
    line-height: 2;
    letter-spacing: 0.1vw;
}

.subHeading h5::selection{
    background-color: #fff;
    color: #000;
}

.endHeading{
width: 100%;
height: 6vw;
margin-top: 4vw;
display: flex;
align-items: end;
justify-content: space-between;
padding: 1vw 3vw;
}

.endHeading a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2vw;
}

.endHeading a::selection{
    background-color: #fff;
    color: #000;
}

.arrows i{
    font-size: 1.2vw;
    padding: 0.3vw;
    background-color: #ffffff8c;
    color: #000;
    border-radius: 50%;
    font-weight: 900;
    cursor: pointer;
}

.feature{
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.f-wrap{
    width: 100%;
    height: 100%;
    padding: 0 10vw 0 2vw;
}

.f-container{
    width: 100%;
    height: calc(95% / 3);
    /* background-color: green; */
    border-bottom: 0.5px solid #ffffff77;
    border-top: 0.5px solid #ffffff77;
    
}

.f-container:nth-child(2){
    border-bottom: 0;
    border-top: 0;
}



